<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap" rel="stylesheet">

</head>
<style>
        body{

             background-color:grey;
        }
        h2{
           margin:300px;
           text-align : center;
           font-family: 'Baloo Bhai 2', cursive;
        }

    </style>
<body>
<h2>
    Contact us at 9000249240 or <br>
    mail: sainikhil21416@gmail.com
</h2>
</body>
</html>